body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-header {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  background-color: rgb(29 28 28 / 98%);
  color: white;
  padding: 12px;
}

.navigation-header li {
  margin: auto;
}

.section,
.month-section {
  border: 1px solid red;
}

.month-section a {
  display: grid;
}

.section {
  border: 1px solid red;
  width: 300px;
  float: left;
  margin: 10px;
}

.footer {
  clear: both;
}
